@import url("start.css");
@import url("question.css");
@import url("addthis.css");
@import url("result.css");
@import url("jb-box.css");
@import url("video.css");
@import url("font.css");
@import url("read.css");

body {
  height: 100vh;
  /* border: 2px solid; */
}

main {
  height: 100%;
  /* border: 2px solid; */
}

li {
  margin: 10px 0px;
  margin-left: 8px;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  font-size: 12px;
  padding-right: 8px;
}

/* video {
  border: 2px solid aqua;
  width: 100%;
  position: absolute;
  object-fit: fill;
} */

@font-face {
  font-family: "HSYuji-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
