.font-one {
  font-family: "cafe";
  color: #696964;
  font-weight: bold;
}

.font-footer {
  font-family: "HSYuji-Regular";
  color: #999999;
}

.font-number {
  font-family: "HSYuji-Regular";
  color: #929292;
}
.box-one {
  border: 2px solid #c0c0c0;
  background-color: #ffffff;
  border-radius: 5%;
}
